
.wpp-deactivate-notice {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    position: relative;
}

.wpp-button-deactivate {
    left: 200px;
    position: absolute;
    top: 0;
}

#wpp_version {
    color: #808080;
    font-size: 14px;
    position: relative;
    top: -5px;
}

#wpp_tabs_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 27px;
}

#wpp_tabs_menu ul li {
    display: inline-block;
}

#wpp_tabs_menu ul a {
    padding: 10px 22px;
    font-size: 14px;       
    line-height: 16px;
    text-decoration: none;
    border: 1px solid #E0E0E0;
    color: #585858;
    font-weight: 600;
    box-shadow: none;
    margin: 0;
    background-color: #E8E8E8;
    text-transform: uppercase;
}

#wpp_tabs_menu ul a.active {
    background-color: #fff;
    border-left: 1px solid #E0E0E0;
    border-top: 1px solid #fc4213;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #fff;
}

#wpp_tabs_menu ul a:not(.active):hover {
    background-color: #F7F7F7;
}

#wpp_tabs_menu i {
    position: relative;
    top: 4px;
    left: -5px;
}

.wpp_page {
    border: 1px solid #E0E0E0;
}

.wpp_page:not(.active) {
    display: none;
}


.wpp-page-wrapper {
    color: #585858;
    display: table;
    padding: 0;
    width: 100%;

}

.wpp-page-wrapper input, .wpp-page-wrapper select {
    float: left;
}

.wpp-page-wrapper a {
    text-decoration: none !important;
}

.wpp-support input[type="text"] {
    width: 100%;
    height: 36px;
    float: none;
}

.wpp-dynamic-input {
    max-width: 295px;
    width: 60%;
}

.wpp-dynamic-input-container {
    padding-bottom: 10px;

}

.wpp-support textarea {
    float: none;
    width: 100%;
    height: 100px;
}

.wpp-support .wpp-info {
    margin-left: 0px;
    padding-bottom: 20px !important;
}

.wpp-page-wrapper input[type="checkbox"] {
    margin-top: 4px;
}

.wpp-page-wrapper input[type="number"] {
    width: 60px;
}

.wpp-info {
    font-size: 14px;
    margin-left: 15px;
}

.wpp-content-section, .wpp-side-section {
    display: table-cell;
    vertical-align: top;     
}

.wpp-content-section {
    background-color: #fff;
    padding: 25px;
    width: 65%;
}

.wpp-side-section {
    background-color: #FAFAFA;
    border-left: 1px solid #E0E0E0;
    padding: 15px 25px 25px 25px; 
    width: 35%;
}

.wpp-page-wrapper strong {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}

.wpp-page-wrapper em {
    color: #969696;
    display: block;
    font-size: 13px;
}

.wpp-page-wrapper .dashicons {
    font-size: 17px;
    margin-top: 2px;
}

.wpp-page-wrapper hr {
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
    margin-top: 15px;
}

.wpp-content-section textarea, .wpp-side-section textarea {
    margin-bottom: 8px; 
    width: 100%;      
    height: 86px;    
}

.wpp-content-section table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}


.wpp-content-section table td {
    padding: 18px 0;
    text-align: left;
    vertical-align: top;
}

.wpp-content-section table td:first-child {
    width: 240px;
}

.wpp-side-section table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}


.wpp-side-section table td {
    padding: 5px 0px;
    text-align: left;
    vertical-align: top;
    font-size: 13px;
}


.wpp-side-section table th {
    text-align: left;
    padding-bottom: 15px;
}

.wpp-page-wrapper table h3 {
    padding: 0;
    margin: 0;
}


.wpp-side-section-list {
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.wpp-side-section-list li {
    display: block;
    padding-bottom: 6px;
    padding-top: 6px;
}


.wpp-side-section-list li span {
    float: right;
}

.wpp-side-section-list .button {
    position: relative;
    top: -5px;
}

.wpp-list-filename strong {
    display: block;
    font-size: 14px;
    margin-bottom: 0px;
}

[data-wpp-show-checked] {
    display: none;
}

.wpp-disable-select {
    margin-top: 15px;
}

.wpp-side-section-list select {
    height: 36px;
    width: 100%;
}

.wpp-hidden {
    display: none !important;
}

.wpp-disabled {
    cursor: not-allowed;
    pointer-events: none;
}

#wpp-ajax-loader {
    margin-top: 2px;
    margin-left: 10px;
}

.wpp-code-example {
    padding: 10px;
    background-color: #e7e7e7;
}

.wpp-mleft {
    margin-left: 10px !important;
}

.wpp-border-error {
    border-color: red !important;
}

.wpp-width-100 {
    width: 100%;
}

#wpp-image-errors {
    margin-top: 5px;
    color: red;
}

#wpp_mobile_menu {
    display: none;
    margin-bottom: 15px;
}

#wpp_mobile_menu select {
    height: 42px;
    font-size: 22px;
}

.wpp-file-list {
    width: 100%;
}


#wp-admin-bar-wpp_clear_cache a {
    color: #ff723a !important;
}


table.wpp-file-list td input {
    float: none;
}

table.wpp-file-list td {
    text-align: center;
    font-size: 14px;
}

table.wpp-file-list th {
    padding: 10px;
    
}


table.wpp-file-list td:first-child, table.wpp-file-list th:first-child {
    text-align: left;
    width: auto;
    padding-left: 15px;
}

table.wpp-file-list tr {
    border-bottom: 1px solid rgb(221, 221, 221);
}


.wpp-bulk-update {
    border-top: 1px solid rgb(221, 221, 221);

    font-size: 15px;
}

.wpp-files-type {
    border-top: 1px solid rgb(221, 221, 221);
    background-color: rgb(250, 250, 250);
    font-size: 15px;
}

.wpp-disabled-row {
    background-color: rgb(250, 250, 250);
}

.wpp-disabled-row td {
    color: red;
}
    

.wpp-warning {
    color: red !important;
}

.wpp-diabled-options-btn {
    float: left;
}

.wpp-disabled-options-container {
    display: block;
    padding-top: 40px;
}

.wpp-images-pending {
    font-size: 16px !important;
    padding-bottom: 10px;
}

.wpp-thumb-loader {
    position: absolute;
    width: 50px;
    top: 40px;
    left: 50%;
    margin-left: -25px;
}

.wpp-log-textarea, .wpp-rules-textarea {
    height: 200px !important;
}

.wpp-content-section .button, .wpp-content-section .button-primary {
    margin-right: 10px !important;
}

.wpp-highlight, .wpp-highlight em {
    color: #fa640e !important;
}

.wpp-meta-option {
    padding: 5px 0;
}


.wpp-database-table td {
    width: 50%;
    padding: 20px !important;
}

.wpp-database-table td:nth-child(odd) {
    border-right: 1px solid #e2e2e2;
}


.wpp-database-table tr{
    border-bottom: 1px solid #e2e2e2;
}

.wpp-database-table tr:last-child{
    border-bottom: none;
}

.wpp-db-action-title {
    font-size: 15px !important;
}


.wpp-meta-option em {
    color: #808080;
}

#wpp-css-custom-path-def {
    height: 200px;
}

.wpp-visible-mobile {
    display: none;
}


.wpp-section-title {
    border-bottom: 1px solid #E0E0E0;
}

.wpp_page input[type="checkbox"] {
    width: 16px !important;
    height: 16px !important;
    border-radius: 3px !important;
    margin-top: 3px !important;
}

.wpp_page input[type="checkbox"]:checked::before {
    width: 16px !important;
    margin-top: -2px !important;
    margin-left: -4px !important;
    font-size: 20px !important;
}

.wpp-cf-input {
    width: 100%;
    height: 34px;
    margin-bottom: 10px;
}

.wpp-ml-link {
    margin-left: 10px;
}

.wpp_page h3 {
    color: rgb(22, 22, 22);
    font-size: 16px;
}


.wpp-addons {
    display: inline-block;
    width: 100%;
}

.wpp-addon {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.wpp-addon-content {
    border: 1px solid rgb(212, 212, 212);
    box-shadow: 0px 0px 3px rgb(226, 226, 226);
    padding: 20px;
    background-color: rgb(253, 253, 253);
    border-radius: 2px;
}

.wpp-addon-content img {
    width: auto;
    max-height: 50px;
    margin-bottom: 20px;
}

.wpp-addon-content strong {
    font-size: 18px;
}

.wpp-addon-settings-link {
    float: right;
    margin-top: -5px;
    margin-right: -5px;
}

.wpp-addon-settings-link i {
    font-size: 20px !important;
}

.wpp-addon-settings {
    display: none;
}

.wpp-addon-input {
    width: 100%;
}


@media only screen and (max-width: 979px) { 

    .wpp-content-section, .wpp-side-section {
        display: table-cell;
        width: auto;
    }


    .wpp-content-section table td {
        padding: 10px !important;
    }

    .wpp-database-table td {
        display: inline-block;
        width: 100% !important;
        padding: 10px !important;
        border: none !important;
    }
    
    .wpp-database-table tr {
        border-bottom: none !important;
    }

    .wpp-dynamic-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .wpp-addon {
        width: 100%;
    }

}




@media only screen and (max-width: 768px) { 
    
    .wpp-page-wrapper {
        width: 100%;
    }

    .wpp-content-section, .wpp-side-section {
        display: block;
        padding: 10px !important;
    }

    .wpp-side-section {
        border-top: 1px solid #E0E0E0;
        border-left: none;
        padding-top: 20px !important;
    }

    .wpp-content-section table, .wpp-side-section table {
        width: 100%;
    }

    .wpp-content-section table td, .wpp-side-section table td {
        display: block;
    }


    #wpp_tabs_menu {
        display: none;
    }

    #wpp_mobile_menu {
        display: block;
    }

    #wpp_mobile_menu select {
        width: 100%;
    }

    .wpp-side-section  {
        padding: 15px !important;
    }

    .wpp-list-filename strong {
        font-size: 16px;
        word-wrap: break-word !important;
        width: 100%;
    }


    .wpp-list-filename em {
        margin-top: 6px;
    }

    .wpp-file-list thead {
        display: none;
    }

    .wpp-file-list tbody td:nth-child(1) {
        display: inline-block;
        width: 100%;
    }

    .wpp-file-list tbody td:nth-child(n+1) {
        display: inline-block;
        padding-left: 10px;
    }

    .wpp-bulk-update  {
        display: none;
    }


    .wpp-side-section em {
        font-size: 14px;
    }

    #wpp-show-hide-critical-css {
        float: none;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .wpp-resource-hints-table {
        display: inline-block;
    }

    .wpp-resource-hints-table td {
        display: table-cell !important;
    }

    .wpp-resource-hints-table td:nth-child(n+2) {
        padding-left: 20px;
    }

    .wpp-visible-mobile {
        display: block;
        margin-top: 5px;
        font-size: 14px;
        color: #444;
    }

    .wpp-hidden-mobile {
        display: none;
    }

    .wpp-content-section select {
        width: 100%;
        margin-bottom: 10px;
    }

    .wpp-cache-time {
        width: 75% !important;
        height: 40px !important;
    }

    .wpp-page-wrapper strong {
        margin-bottom: 0;
    }

    .wpp-file-list select {
        width: 90% !important;
        margin-bottom: 0 !important;
    }


    .wpp_page input[type="checkbox"] {
        width: 22px !important;
        height: 22px !important;
        margin-top: 0 !important;
    }
    
    .wpp_page input[type="checkbox"]:checked::before {
        width: 22px !important;
        font-size: 25px !important;
    }


    #wpp-image-sizes-table thead {
        display: none;
    }

    #wpp-image-sizes-table td {
        display: block;
        padding: 10px;
        text-align: right;
        border-bottom: 1px solid rgb(228, 228, 228);    
        min-height: 20px;
    }

    #wpp-image-sizes-table td:last-child {    
        min-height: 50px;
        border-bottom: none;
    }

    #wpp-image-sizes-table span {
        float: left;
        margin-top: -1px;
    }

    #wpp-image-sizes-table input {
        float: none;
    }

    .wpp-add-image-size-row td {
        text-align: left !important;
    }

    .wpp_page h3 {
        font-size: 16px;
    }

    .wpp_page .button {
        padding: 4px 8px !important;
    }


}